# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyproj
*.pycproj

# PyCharm-related
.idea/

# Virtual environment
venv/

# Compiled files
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sqlite
*.db
